<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nexkart</title>
  <link
          href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
          rel="stylesheet"
  />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/nav.js}" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/animation.css}" />
</head>

<body class="flex flex-col min-h-screen">
<div th:replace="~{fragments/navbar :: navbar}"></div>



<main class="flex-grow">



</main>




<!-- Footer Fragment -->
<div class="test" th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
