<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Home Admin</title>
	
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<link th:href="@{https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script th:src="@{/nav.js}" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/animation.css}">

	<link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}" sizes="180x180">
	<!-- <link rel="icon" type="image/x-icon" th:href="@{/nexkart_fav.png}"> -->
	<link rel="icon" type="image/x-icon" th:href="@{/nexfav.ico}">
	<link rel="manifest" th:href="@{/site.webmanifest}">
	<link rel="mask-icon" th:href="@{/safari-pinned-tab.svg}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<style>
		@media only screen and (max-width: 768px) {
			.logo {
				height: 1.8em;
			}
		}
	</style>


</head>

<body class="" >
	
	<form  th:action="@{/logout}" method="post" th:hidden="true"
	name="logoutForm" >
		<input type="submit">
	</form>

	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<!-- below code is for side nav bar  -->

	<style>
		@media (max-width: 768px) {
		         .manage-users {
		             flex-direction: column;
		             text-align: center;
		             padding: 0.5rem;
					 justify-content: start;
		         }

		         .manage-users h2 {
					font-size: 20px ;
					margin-top:15px ;
		             margin-bottom: 0.5rem;
		         }

		         .manage-users img {
					height: 25px ; 
					margin-top:15px ;
		             margin-bottom: 0.5rem;
		         }
				 .manage-users a {
				 				font-size: 13px ;
				 	             margin-bottom: 0.5rem;
				 	         }
	
		     }

		     @media (max-width: 576px) {
		         .container {
		             padding: 0.5rem;
		         }
		     }
	</style>

	
	<!-- content part from here  -->
	<div class="flex justify-between items-center manage-users  p-8 rounded-lg ">
	    <div class="flex items-center">
	        <h2 class="text-2xl font-bold mr-8">Manage Users</h2> 
	        <a th:href="@{/users/export/csv}" class="text-white   rounded transition duration-400 ease-in-out mr-2">
	           <img class="h-9"  th:src="@{/images/csv.png}" alt="">
	        </a>
			<a th:href="@{/users/export/excel}" class="text-white   rounded transition duration-400 ease-in-out mr-2">
			           <img class="h-9"  th:src="@{/images/excel.png}" alt="">
			</a>
			<a th:href="@{/users/export/pdf}" class="text-white   rounded transition duration-400 ease-in-out mr-2">
				<img class="h-9"  th:src="@{/images/pdf.png}" alt="">
			</a>  
	</div>

	    <a th:href="@{/users/new}" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded transition duration-400 ease-in-out">
	        Create New User
	    </a>
	</div>


	<style>
		#table{
								background-color:#0561f4;
							}
		@media (max-width: 578px) {
			.ph{
				display: none;
			}
			.mobile-hidden {
				display: none;
			}

			#table{
						background-color:#0561f4;
					}
					table {
					              display: block;
					              overflow-x: auto;
					              white-space: nowrap;
					          }

					          th, td {
					              min-width: 120px;
					              padding: 0.75rem 0.5rem;
					          }

					          th:first-child, td:first-child {
					              min-width: auto;
					              padding-left: 0.75rem;
					          }

					          th:last-child, td:last-child {
					              padding-right: 0.75rem;
					          }
		   }




	</style>

	<div th:if="${message != null}" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative center" role="alert">
		    <span class="block sm:inline">[[${message}]]</span>
	</div>

	<div class=" ml-10">
		<form th:action="@{/users/page/1}" class=" p-6 w-full max-w-md">
			<h2 class="text-lg font-semibold text-gray-700 mb-4">Filter Users</h2>
			<div class="flex items-center space-x-2">
				<input
						type="search"
						name="keyword"
						th:value="${keyword }"
						required
						class="w-full px-4 py-2 border border-gray-300 rounded-lg"
						placeholder="Search..."
				>
				<button
						type="submit"
						class="px-4 py-2 bg-blue-600 text-white rounded-md  transition"
				>
					Search
				</button>
				<button
						type="button"
						class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md  transition"
						onclick="clearFilter()"
				>
					Clear
				</button>
			</div>
		</form>
	</div>


	<div class="pl-8 pr-8 mb-16">
		<table class="w-full border border-collapse ">
			<thead id="table" class="text-white">
				<tr>
					<th class="px-4 py-2 text-left border">User ID</th>
					<th class="px-4 py-2 text-left border ph">Photos</th>
					<th class="px-4 py-2 text-left border">Email</th>
					<th class="px-4 py-2 text-left border">First Name</th>
					<th class="px-4 py-2 text-left border">Last Name</th>
					<th class="px-4 py-2 text-left border">Roles</th>
					<th class="px-4 py-2 text-left border">Enabled</th>
					<th class="px-4 py-2 text-left border"></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="user : ${listUsers}" class="border-b mb-16 text-center border-gray-300 hover:bg-gray-100">
					<td class="px-4 py-2 text-left border hover:bg-gray-200" th:text="${user.id}"></td>

					<td class="px-4 py-2 border hover:bg-gray-200 flex mobile-hidden items-center justify-center" style="height: 100px;">
						<div class="w-24 h-24 rounded-full  overflow-hidden inline-flex items-center justify-center">
							<img th:if="${user.photos != null}" th:src="@{${user.photoImagePath}}"
								 class="w-full h-full object-cover">
							<i th:if="${user.photos == null}" class="fas fa-user-circle text-4xl"
							   style="color: rgb(40, 40, 255);"></i>
						</div>
					</td>

					<td class="px-4 py-2 text-left border hover:bg-gray-200" th:text="${user.email}"></td>
					<td class="px-4 py-2 text-left border hover:bg-gray-200" th:text="${user.firstName}"></td>
					<td class="px-4 py-2 text-left border hover:bg-gray-200" th:text="${user.lastName}"></td>
					<td class="px-4 py-2 text-left border hover:bg-gray-200" th:text="${user.roles}"></td>

					<td class="px-4 py-2 text-center border hover:bg-gray-200">

<!--						<a th:if="${user.enabled}" title="Enabled" class="text-green-500">-->
<!--							<i class="fas fa-check-circle fa-2x"></i>-->
<!--						</a>-->
<!--						<a th:unless="${user.enabled}" title="Disabled" class="text-gray-500">-->
<!--							<i class="fas fa-times-circle fa-2x"></i>-->
<!--						</a>-->

						<span th:if="${user.enabled}" class="px-2 py-1 bg-green-100 text-green-800 rounded-full text-sm">
             			   Enabled
						</span>
						<span th:unless="${user.enabled}" class="px-2 py-1 bg-red-100 text-red-800 rounded-full text-sm">
							Disabled
						</span>

					</td>

					<td class="px-4 py-2 text-center border hover:bg-gray-200 space-x-3">
						<!-- Edit Button -->
						<a th:href="@{'/users/edit/' + ${user.id}}" title="Edit User" class="text-blue-600 hover:text-blue-800">
							<i class="fas fa-edit "></i>
						</a>

						<!-- Delete Button -->
						<a th:href="@{'/users/delete/' + ${user.id}}" title="Delete User" class="text-red-600 hover:text-red-800 link-delete">
							<i class="fas fa-trash"></i>
						</a>
					</td>


				</tr>
			</tbody>

		</table>
	</div>

	<div class="flex justify-center items-center mb-20" th:if="${totalItems > 0}">
		<span>Showing Users # [[${startcount}]] to [[${endcount}]] of [[${totalItems}]]</span>
	</div>
	<div class="flex justify-center items-center mb-20" th:unless="${totalItems > 0}">
		<span>No User found</span>
	</div>


	<div class="flex justify-center items-center mb-20 " th:if="${totalPages > 1}" >
	<nav >
		<ul class="flex items-center -space-x-px h-8 text-sm">
			<li>
				<a th:href="@{'/users/page/' + ${currentpage - 1} + ${keyword != null ? '?keyword=' + keyword : ''} }"  class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
					<span class="sr-only">Previous</span>
					<svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
					</svg>
				</a>
			</li>

			<li>
				<a th:href="@{/users/page/1} "  class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">First</a>
			</li>

			<!--Numbers below of the pages -->
				<li th:each="i : ${#numbers.sequence(1, totalPages)}"
					th:classappend="${currentpage == i} ? 'bg-blue-500 text-white border-blue-500' : 'bg-white text-blue-600 border-gray-300'"
					class="px-3 h-8  border  hover:bg-blue-100 hover:text-blue-700 transition-all duration-200">

					<a th:href="@{'/users/page/' + ${i} + ${keyword != null ? '?keyword=' + keyword : ''} }"
					   class="flex items-center justify-center  h-8  w-full h-full">
						[[${i}]]
					</a>
				</li>

			<!--Numbers above of the pages -->
			<li>
				<a th:href="@{'/users/page/' + ${totalPages}}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Last</a>
			</li>
			<li>
				<a th:href="@{'/users/page/' + ${currentpage + 1} + ${keyword != null ? '?keyword=' + keyword : ''}}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
					<span class="sr-only">Next</span>
					<svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
					</svg>
				</a>
			</li>
		</ul>
	</nav>
	</div>

<script type="text/javascript" >

	function clearFilter() {
		window.location = "[[@{/users}]]";
	}

</script>


</body>
</html>