	@keyframes fadein {
			0%{
				opacity: 0.1;
			}
			100%{
				opacity: 1;
			}
			
		}
		body{
			animation: fadein 0.4s ease-in;
		}
		
::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray; 
    
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666; 
}

::-webkit-scrollbar-corner {
    background-color: #ccc;
   
}

::-webkit-scrollbar-button {
    background-color: darkgray;
     height: 30px;
}

::-webkit-scrollbar-button:hover {
    background-color: #777;
}
